<div style="text-align:center">
  <h2>You deleted a dinosaur.</h2>
  <h3>Sad panda is sad.</h3>
  <iframe src="//giphy.com/embed/prH3cY9Bsbinu" width="480" height="640" frameBorder="0"></iframe>
  <div>&nbsp</div>
  <div><%= link_to "View current inventory", "/products" %></div>
</div>