<h1>Welcome to Dinosaur World!</h1>
<h3>We specialize in only the healthiest and most terrifying dinosaurs to rock your world!</h3>
<img src="http://data.whicdn.com/images/4580029/rawr__i_love_you_by_schmidty4112_large.jpg?1287989567">
<h3>Click <a href="/products">here</a> to view our current inventory.</h3>